<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">News Scraper</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saved">Saved Articles</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-danger scrape" href="/api/scrape">SCRAPE NEW ARTICLES!</a>
            </li>

    </div>
</nav>

<div class="jumbotron jumbotron-fluid text-center" id="fluid">
    <div class="container-fluid">
        <h1 class="titleH1">Mongo Scraper</h1>
        <p class="titleP">New Scientist Edition</p>
    </div>
</div>

<div class="card" id="articlesPanel">
    {{#each article}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><a class="article-link" target="_blank" href="{{url}}">{{headline}}</a>
                <a class="btn btn-success save">Save Article</a></h3>
        </div>
        <div class="panel-body">{{summary}}</div>
    </div>
    {{/each}} {{!--
    <ul class="list-group list-group-flush" id="articlesListGroup">
        {{#each article}} --}} {{!--
        <li class="list-group-item" id="articleItem"><span class="headline">{{headline}}</span><span class="summary">{{summary}}</span></li> --}} {{!--
        <li class="list-group-item" id="headline">{{headline}}</li>
        <li iclass="list-group-item" id="summary">{{summary}}</li>
        {{/each}}
    </ul> --}}
</div>